@import '../../../styles.scss';

body {
    background-color: #000;
    color: #fff;
    @apply relative;
    font-size: 14px;
}

#info {
    .webgpu {
        color: #0076cc;
        @apply font-bold;
    }

    @apply bg-accent-dark text-primary-white border border-accent-dark;
    @apply bg-opacity-75;
    @apply absolute bottom-1 right-10;
    @apply pointer-events-none select-none;
    @apply px-2 py-1 rounded-sm;
}


.lil-gui.root {
    @apply top-0 right-0;
}

@media all and (max-width: 640px) {
    .lil-gui.root {
        @apply bottom-0 left-0 right-auto top-auto;
    }
}

#overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

#overlay button {
    background: transparent;
    border: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    padding: 12px 18px;
    text-transform: uppercase;
}

#notSupported {
    background-color: #f00;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
}
